extends main
block index
  h1(class="text-center my-4")="MOTOR DE PLANTILLA PUG" 
  div(class="container mb-5 d-flex justify-content-between gap-3")  
    include ./components/products
    include ./components/userschat
    include ./components/toastmsg
    include ./components/scripts